<div class="container">
  <h2>Dashboard de Gráficos</h2>

  <ng-container *ngIf="dados">
    <app-dashboard-chart
  [title]="'Saldo por Dia'"
  [labels]="labelsSaldo"
  [data]="dataSaldo"
  chartType="line"
></app-dashboard-chart>

<app-dashboard-chart
  [title]="'Transações por Dia'"
  [labels]="labelsTransacoes"
  [data]="dataTransacoes"
  chartType="bar"
></app-dashboard-chart>

<app-dashboard-chart
  [title]="'Transações por Tipo'"
  [labels]="labelsTipos"
  [data]="dataTipos"
  chartType="doughnut"
></app-dashboard-chart>


  </ng-container>
</div>
