<div class="container">
  <h2>Dashboard de Gráficos</h2>

  <ng-container *ngIf="dados">
    <app-dashboard-chart
      [title]="'Saldo por Dia'"
      [labels]="dados.saldoPorDia.map(p => p.data)"
      [data]="dados.saldoPorDia.map(p => p.valor)"
      chartType="line"
    ></app-dashboard-chart>

    <app-dashboard-chart
      [title]="'Transações por Dia'"
      [labels]="dados.transacoesPorDia.map(p => p.data)"
      [data]="dados.transacoesPorDia.map(p => p.valor)"
      chartType="bar"
    ></app-dashboard-chart>

    <app-dashboard-chart
      [title]="'Transações por Tipo'"
      [labels]="dados.contagemPorTipo.map(p => p.tipo)"
      [data]="dados.contagemPorTipo.map(p => p.quantidade)"
      chartType="doughnut"
    ></app-dashboard-chart>
  </ng-container>
</div>
